aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.5.0
ansible==8.3.0
ansible-compat==4.1.10
ansible-core==2.15.3
ansible-lint==6.19.0
async-timeout==4.0.3
attrs==23.1.0
autopep8==2.0.2
black==23.9.1
blinker==1.6.2
bracex==2.4
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
cryptography==41.0.3
filelock==3.12.4
Flask==2.3.2
flask-sqlacodegen==2.0.0
Flask-SQLAlchemy==3.0.5
frozenlist==1.4.0
greenlet==2.0.2
idna==3.4
importlib-metadata==6.8.0
importlib-resources==5.0.7
inflect==7.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
mod-wsgi==4.9.4
multidict==6.0.4
mypy-extensions==1.0.0
openai==0.27.9
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
psycopg2==2.9.6
pycodestyle==2.11.0
pycparser==2.21
pydantic==2.1.1
pydantic_core==2.4.0
Pygments==2.16.1
python-dotenv==1.0.0
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
resolvelib==1.0.1
rich==13.5.2
rpds-py==0.10.3
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
SQLAlchemy==2.0.19
subprocess-tee==0.4.1
tomli==2.0.1
tqdm==4.66.1
typing_extensions==4.7.1
urllib3==2.0.4
uuid==1.30
wcmatch==8.5
Werkzeug==2.3.6
yamllint==1.32.0
yarl==1.9.2
zipp==3.16.2
